DEBUG=test
DJANGO_SECRET_KEY="test"

# Database
DATABASE_NAME='test'
DATABASE_USER=test
DATABASE_PASSWORD=test
DATABASE_HOST=localhost
DATABASE_PORT=3306

#mailgun credentials
DEFAULT_FROM_EMAIL="test"
MAILGUN_SENDER_DOMAIN="test"
ANYMAIL_MAILGUN_API_KEY="test"

# email credentials
EMAIL_HOST = "test"
EMAIL_PORT = test
EMAIL_HOST_USER="test"
EMAIL_HOST_PASSWORD="test"

PLATFORM="local"