[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
django-debug-toolbar = "*"

[packages]
django = "*"
djoser = "*"
djangorestframework = "*"
django-environ = "*"
django-split-settings = "*"
mysqlclient = "*"
django-money = "*"
django-cors-headers = "*"
django-post-office = "*"
drf-writable-nested = "*"
django-mysql = "*"
django-ckeditor = "*"
xlrd = "*"
django-filter = "*"

[requires]
python_version = "3.8"
